.form-floating {
    margin-bottom: 10px;
}

.button {
    margin-right: 12px;
}

label {
    margin-left: 10px;
}

.c-datatable-filter > .form-control {
    margin-left: 10px;
    width: 50%;
}

.float-end {
    margin-left: 13px;
}

.upload {
    padding-bottom: 0.1em;
}