body {
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-direction: col;
    height: 100vh;
    width: 100vw;
}

aside > section {
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
    width: 256px;
}

main {
    /* background-color: blue; */
    /* background-image: url(https://images7.alphacoders.com/104/1047137.jpg); */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;   
}