footer {
    background-color: white;
    height: 65px;
    width: 100%;
    /* padding-right: 256px; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}